@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
}

* {
  font-weight: 600;
  color: #000000;
}

strong, b, .font-semibold, .font-bold {
  font-weight: 700 !important;
}

input, button {
  font-weight: 600 !important;
  color: #000000;
}

input::placeholder {
  color: #5f5f5f;
}
